.qr-code-box {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.qr-code-box p {
  text-align: center;
}

.qr-code-secret {
  font-family: 'Roboto';
  font-size: 13px;
  text-align: center;
  border-radius: 8px;
  height: 38px;
  margin: 0 10px 0 5px;
  text-overflow: ellipsis;
  padding: 10px 10px 0 5px;
  border-bottom: 3px solid #009fff;
  color: white;
  background-color: #0986e1;
}

.qr-code-secret span {
  float: right;
}

/* Custom radio button container */
.custom-radio-container {
  display: flex;
  flex-direction: column;
}

.custom-radio-container label {
  margin-bottom: 20px;
}

/* Custom radio button styles */
.custom-radio {
  opacity: 0; /* Hide the default radio button */
  position: absolute;
}

/* Styled label for radio buttons */
.radio-label {
  position: relative;
  padding-left: 10px; /* Adjust according to your preference */
  cursor: pointer;
}

/* Custom radio button appearance */
.radio-label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 340px; /* Position to the right */
  transform: translateY(-50%);
  width: 20px; /* Size of the radio button */
  height: 20px; /* Size of the radio button */
  border: 2px solid #5dcdfc; /* Adjust thickness of border as needed */
  border-radius: 50%; /* Rounded shape */
}

/* Custom radio button appearance when selected */
.custom-radio:checked + .radio-label:before {
  background-color: #1f8fea; /* Color when selected */
}

/* Custom radio button appearance when hovered */
.custom-radio:hover + .radio-label:before {
  border-color: #1f8fea; /* Border color on hover */
}

/* Add spacing between radio options */
.radio-label:not(:first-child) {
  margin-top: 10px; /* Adjust the spacing between options */
}

.verification-code-message {
  color: #009688;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 10px;
}
