.menu-container {
  text-align: center; /* Center-align the menu items */
}

.menu {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.menu li {
  width: 80%; /* Set the width of each menu item to 80% of the parent */
  margin: 10px auto; /* Add some margin and center horizontally */
  border: 3px solid #07a4dc; /* Remove button border */
  background-color: #0986e1; /* Background color for the buttons */
  border-radius: 5px; /* Add border radius for rounded corners */
  height: 90px; /* Set the height of each menu item */
  line-height: 90px; /* Vertically center text */
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto Bold';
  width: 100%; /* Ensure full width for anchor elements */
  height: 100%; /* Ensure full height for anchor elements */
}

.menu li:hover {
  background-color: #0861a1; /* Change background color on hover */
}
