.menu-container {
  display: flex;
  justify-content: center; /* Center the menu horizontally */
  margin-top: 30px;
}

.menu {
  display: flex; /* Use flexbox layout */
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.menu li {
  margin-right: 10px; /* Add spacing between menu items */
  text-align: center;
}

.menu li:last-child {
  margin-right: 0; /* Remove margin from the last menu item */
}

.menu li a {
  display: flex; /* Use flexbox */
  align-items: center; /* Center text content vertically */
  justify-content: center; /* Center text content horizontally */
  width: 700px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}
.menu li a:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #1f8fea;
  color: #fff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .menu li a {
    display: block;
    width: 100%;
  }
}
