
<form *ngIf="isFormReady" [formGroup]="updateCategoryForm" (ngSubmit)="updateCategory()" method="post" enctype="application/x-www-form-urlencoded" class="sign-in-form">
  <app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" formControlName="title" id="title"/>
    <app-validation-error [control]="title" [control-label]="'Title'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" formControlName="description" id="description"/>
    <app-validation-error [control]="description" [control-label]="'Description'"></app-validation-error>
  </div>

  <div class="form-group">
    <label for="active">Is Active</label>
    <select formControlName="isActive" id="active">
      <option value=""></option>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
    <app-validation-error [control]="isActive" [control-label]="'Is Active'"></app-validation-error>
  </div>

  <div class="form-group">
    <button type="submit" class="fright"
            *ngIf="!isFormCompleted"
            [disabled]="isSubmitting">Submit
      <app-submit-loading-icon [is-submitting]="isSubmitting"></app-submit-loading-icon>
    </button>

    <app-success-button [is-form-completed]="isFormCompleted"></app-success-button>
  </div>

</form>

<app-loading-spinner [is-loading]="isLoading"></app-loading-spinner>
