<h2 class ="bold"> {{pageTitle}} </h2>
<form [formGroup]="form">
<input type="radio" id="activex" value="true" formControlName="active"/>
<label for="activex" class="bold">Active</label>

<input type="radio" id="inactivex" value="false" formControlName="active"/>
<label for="inactivex" class="bold">Inactive</label><br/>
</form>

<app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

<app-pagination [entries-available]="entries.length > 0"
                [is-first]="isFirst"
                [is-last]="isLast"
                [current-page-number]="currentPage"
                [navigation-in-progress]="navigationInProgress"
                (toNextPage)="nextPage()"
                (toPreviousPage)="previousPage()"></app-pagination>

<div *ngIf="entries.length > 0">
  <div *ngFor="let entry of entries">

    <form [formGroup]="getChannelForm(entry)">
      <app-form-message [status-message]="getChannelState(entry).message" [error-message]="getChannelState(entry).errorMessage"></app-form-message>

      <div class="form-group">
        <h4 class="bold">{{ entry.title }}</h4>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description">{{ entry.description }}</textarea>
        <app-validation-error [control]="getDescriptionCtrl(entry)" [control-label]="'Description'" ></app-validation-error>
      </div>

      <div class="form-group">
        <label>Status {{ getIsActiveCtrl(entry)?.value }}</label>
        <div class="is-active-buttons">

          <input type="radio" id="active" value="true" formControlName="isActive"/>
          <label for="active" class="bold">Active</label>

          <input type="radio" id="inactive" value="false" formControlName="isActive"/>
          <label for="inactive" class="bold">Inactive</label><br/>

          <app-validation-error [control]="getIsActiveCtrl(entry)" [control-label]="'Status'" ></app-validation-error>
        </div>
      </div>

      <div class="form-group">
        <button type="button" class="fright"
                *ngIf="!getChannelState(entry).isSubmittingSuccessful"
                [disabled]="getChannelState(entry).isSubmitting"
                (click)="updateChannel(entry)">Update
          <app-submit-loading-icon [is-submitting]="getChannelState(entry).isSubmitting"></app-submit-loading-icon>
        </button>

        <app-success-button [is-form-completed]="getChannelState(entry).isSubmittingSuccessful"></app-success-button>
      </div>
    </form>
  </div>
</div>

<app-pagination [entries-available]="entries.length > 0"
                [is-first]="isFirst"
                [is-last]="isLast"
                [current-page-number]="currentPage"
                [navigation-in-progress]="navigationInProgress"
                (toNextPage)="nextPage()"
                (toPreviousPage)="previousPage()"></app-pagination>

<app-no-entries *ngIf="!isLoading" [entries]="entries"></app-no-entries>

<app-loading-spinner [is-loading]="isLoading"></app-loading-spinner>
