<div class="otp-input-container">
  <app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

  <form>
    <p>{{verificationMessage}}</p>
    <label for="verification_code">Verification Code:</label>
    <input type="text" [formControl]="otp" id="verification_code"/>
    <app-validation-error [control]="otp" [control-label]="'Verification code'"></app-validation-error>
    <button (click)="resendOtp()" [disabled]="isSubmitting"> Resend Verification Code </button>
    <button (click)="submit($event)">Submit</button>
    <button (click)="tryAnotherMethod($event)">Try another method</button>
  </form>
</div>

