<nav class="navbar" id="my-top-nav">
  <ul>

    <li> <a routerLink="/"> <fa-icon [icon]="faHome"></fa-icon> Home  </a> </li>
    <li> <a routerLink="/videos"> <fa-icon [icon]="faVideo"></fa-icon> Videos </a> </li>
    <li *ngIf="isAuthenticated"> <a routerLink="/profile"> <fa-icon [icon]="faUser"></fa-icon> Profile </a> </li>

    <li *ngIf="isAuthenticated"> <a routerLink="/dashboard"> <fa-icon [icon]="faDashboard"></fa-icon> Dashboard </a> </li>
    <li *ngIf="isAuthenticated"> <a (click)="signOut($event)">
      <fa-icon *ngIf="!isSigningOut" [icon]="faSignOut"></fa-icon>
      <fa-icon *ngIf="isSigningOut" [icon]="faSpinner" [animation]="'spin'"></fa-icon> Sign out
    </a> </li>

    <li *ngIf="isUnauthenticated"> <a routerLink="/auth/sign-in"> <fa-icon [icon]="faSignIn"></fa-icon> Sign in </a> </li>
    <li *ngIf="isUnauthenticated"> <a routerLink="/auth/sign-up"> <fa-icon [icon]="faPlus"></fa-icon> Sign up </a> </li>

    <li class="more-icon"> <a href="javascript:void(0);" id="menu-icon"> <fa-icon [icon]="faBars"></fa-icon> </a> </li>

  </ul>
</nav>
