/* Add a black background color to the top navigation */
.navbar {
  background-color : transparent;
  overflow : hidden;
  width : 95%;
  margin : 0 auto 5px;
}

.navbar ul {
  text-align : center;
}

/* Style the links inside the navigation bar */
.navbar li {
  display : inline-block;
  color: #f2f2f2;
  text-align: center;
  width : 120px;
  background-color : #1d73c5;
  margin : 0 0 1.3351134846461949265687583444593% 2.3351134846461949265687583444593%;
  font-size : 11px;
  cursor : pointer;
  border-radius : 6px;
  border : 2px solid lightblue;
}

.navbar li:last-child {

  display : none;
}

.navbar li a {

  color : white;
  width : 100%;
  height : 100%;
  display : block;
  padding : 10px;
  font-family: 'Arial';
  text-decoration: none;
}

/* Change the color of links on hover */
.navbar li:hover {
  background-color : #3099fd;
  color: white;
}

/* Add an active class to highlight the current page */
.navbar a.active {
  background-color : #3099fd;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar #menu-icon {
  display: none;
}


@media screen and (max-width: 1000px) {
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (#menu-icon) */

  .navbar {
    background-color: #1d73c5;
    border-radius : 6px;
    border : 2px solid lightblue;
  }

  .navbar li {
    width : auto;
  }

  .navbar li:not(:first-child) {
    display: none;
  }

  .navbar li:last-child, .navbar li:first-child {
    display : inline-block;
    float : right;
    border : none;
    background-color : transparent;
    margin : 0;
    text-align : right;
  }

  .navbar li:first-child {
    float : left;
    text-align : left;
  }

  ul {
    text-align : left;
  }

  .navbar a#menu-icon {
    display: block;
  }

  .navbar li:nth-child(2),
  .navbar li:nth-child(3),
  .navbar li:nth-child(4),
  .navbar li:nth-child(5),
  .navbar li:nth-child(6):not(.more-icon) {
    width : 100%;
    margin : 0;
    border : 0;
    border-bottom : 2px solid lightblue;
  }

  .navbar a.active {
    background-color : transparent;
  }


  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive li:last-child {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive li:last-child {
    text-align : right;
  }

  .navbar li a {
    font-size : 13px;
  }
}
