<app-video-detail-option (detail-view)="detailsView()" (review-history-view)="reviewHistoryView()" (comment-view)="commentsView()"></app-video-detail-option>

<ng-container *ngIf="isDetailsView && entryView">
  <app-show-video-detail [fleen-video]="fleenVideo"></app-show-video-detail>
</ng-container>

<ng-container *ngIf="isFormReady && canSubmitReview">
  <form [formGroup]="submitReviewForm" (ngSubmit)="submitReview()" method="post" enctype="application/x-www-form-urlencoded" class="submit-review-form">
    <app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

    <div class="form-group">
      <label for="video_review_status">Video Review Status</label>
      <select formControlName="videoReviewStatus" id="video_review_status">
        <option value=""></option>
        <option value="APPROVED">Approve</option>
        <option value="DECLINED">Decline</option>
      </select>
      <app-validation-error [control]="videoReviewStatus" [control-label]="'Review Status'"></app-validation-error>
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea formControlName="comment" id="comment"></textarea>
      <app-validation-error [control]="comment" [control-label]="'Comment'" ></app-validation-error>
    </div>

    <button type="submit" [disabled]="isSubmitting">Submit</button>
  </form>
</ng-container>

<ng-container *ngIf="isFormReady && !canSubmitReview">
  <div class="add-comment-box">
    <div class="form-group">
      <label for="comment_content">Comment</label>
      <textarea [formControl]="content" id="comment_content"></textarea>
      <app-validation-error [control]="content" [control-label]="'Comment'" ></app-validation-error>
    </div>

    <div class="form-group">
      <button type="submit" class="fright"
              *ngIf="!isSubmittingCommentSuccessful"
              [disabled]="isSubmittingComment"
              (click)="addComment()">Submit
        <app-submit-loading-icon [is-submitting]="isSubmittingComment"></app-submit-loading-icon>
      </button>

      <app-success-button [is-form-completed]="isSubmittingCommentSuccessful"></app-success-button>
    </div>
    <app-form-message [status-message]="commentFormStatusMessage" [error-message]="commentFormErrorMessage"></app-form-message>
  </div>
</ng-container>

<div *ngIf="isCommentsView">

</div>

<div *ngIf="isReviewHistoryView">
  <app-show-review-history [review-history]="reviewHistory.reviews"></app-show-review-history>
</div>

<app-loading-spinner [is-loading]="isLoading"></app-loading-spinner>
