.submit-review-form {
  float: right;
  width: 30%;
}

.add-comment-box {
  float: right;
  width: 30%;
}

@media screen and (max-width: 960px) {

  .video-details, .submit-review-form, .add-comment-box {
    float: none;
    width: 100%;
  }

  .submit-review-form, .add-comment-box {
    margin: 15px 0 15px;
  }

  .submit-review-form textarea, .add-comment-box textarea {
    height: 110px;
    resize: none;
  }
}
