#youtube-authentication-wrapper {
  width: 80%;
  padding: 8px 10px 0 10px;
  overflow: hidden;
}

#verify-authorization-code-wrapper {
  margin-top: 50px;
}

#authorization-uri-box {
  font-family: 'Roboto';
  font-size: 13px;
  text-align: center;
  border-radius: 8px;
  height: 25px;
  margin: 0 10px 0 5px;
  text-overflow: ellipsis;
  padding: 8px 10px 0 5px;
  border-bottom: 3px solid #009fff;
  color: white;
  background-color: #0986e1;
}

#authorization-uri-box span {
  text-align: right;
  float:right;
  z-index: 99;
}

#verify-authorization-code-wrapper {
  margin-top: 200px;
}
