<ng-container *ngIf="entryView">

  <p *ngIf="isVideoInReview">Video is In Review at the moment and cannot be updated</p>

  <ng-container *ngIf="startUpdateVideoObject || startUpdateVideoInfo">
    <button (click)="goBack()" class="back-button"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
  </ng-container>

  <div class="can-update-btn-wrapper" *ngIf="canUpdateVideoInfoOrObject">
    <button type="button"
            (click)="updateVideoInfo()">Update Video Info <fa-icon [icon]="faInfo"></fa-icon>
    </button>
    <button type="button"
            *ngIf="canUpdateObjectOrVideoContent"
            (click)="updateVideoObject()">Update Video Object <fa-icon [icon]="faVideo"></fa-icon></button>
  </div>

  <ng-container *ngIf="startUpdateVideoInfo">
    <app-admin-update-video-info [video-id]="entryView.fleenVideoId"></app-admin-update-video-info>
  </ng-container>

  <ng-container *ngIf="startUpdateVideoObject">
    <app-admin-update-video-object [video-id]="entryView.fleenVideoId" ></app-admin-update-video-object>
  </ng-container>

  <form method="post" enctype="application/x-www-form-urlencoded" class="sign-in-form"
        *ngIf="isFormReady && canUpdateVideoInfoOrObject"
        [formGroup]="updateVideoVisibilityForm"
        (ngSubmit)="updateVisibility()">

    <app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>
    <div class="form-group">
      <label for="visibility">Visibility</label>
      <select formControlName="visibility" id="visibility">
        <option value=""></option>
        <option value="PUBLIC">Public</option>
        <option value="PRIVATE">Private</option>
        <option value="UNLISTED">Unlisted</option>
      </select>
      <app-validation-error [control]="visibility" [control-label]="'Visibility'"></app-validation-error>
    </div>

    <div class="form-group">
      <button class="fright" *ngIf="!isFormCompleted" [disabled]="isSubmitting">Submit
        <app-submit-loading-icon [is-submitting]="isSubmitting"></app-submit-loading-icon>
      </button>
      <app-success-button [is-form-completed]="isFormCompleted"></app-success-button>
    </div>

  </form>


</ng-container>

<app-loading-spinner [is-loading]="isLoading"></app-loading-spinner>
