label, p {
  font-size: 15px;
}

label, b {
  font-family: 'Roboto Bold';
}

label, input, select {
  display: block;
}

form {
  padding: 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  padding: 5px;
}

button {
  width: 210px;
  height: 37px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #0986e1;
  border-radius: 8px;
  border-bottom: 3px solid #5dcdfc;
  margin: 10px;
}

input, textarea, select {
  padding: 10px;
  display: block;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  resize: vertical;
  width: 100%;
}

.form-group:after, button:after, div:after {
  clear: both;
  content: "";
  display: table;
}

.can-update-btn-wrapper button {
  width: 80%;
  display: block;
  margin: 10px auto;
  height: 50px;
}


.back-button {
  border: 2px solid #5dcdfc; /* Adjust thickness of border as needed */
  border-radius: 50%; /* Makes the button circular */
  background-color: #0986e1; /* Transparent background */
  padding: 0; /* No padding */
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s, border-color 0.3s; /* Add smooth transition */
}

.back-button:hover {
  background-color: #0861a1; /* Change background color on hover */
}

/* If FontAwesome icon inherits font-size */
.back-button fa-icon {
  font-size: 15px; /* Adjust icon size as needed */
}
