<app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

<ng-container *ngIf="mfaStatus">
  <p>Multi Factor Authentication Status : <b>{{ mfaStatus.enabled ? 'Enabled' : 'Disabled' }}</b></p>

  <ng-container *ngIf="mfaStatus.mfaType != MfaType.NONE">
    <p> The Multi Factor Authentication (MFA) Type : {{ mfaStatus.mfaType | titlecase }}</p>
  </ng-container>

  <button type="button"
          *ngIf="!mfaStatus.enabled"
          (click)="reEnableOrDisableMfa(true)">Enable
    <app-submit-loading-icon [is-submitting]="isSubmitting" [display-icon]="faUnlock"></app-submit-loading-icon></button>

  <button type="button"
          *ngIf="mfaStatus.enabled"
          (click)="reEnableOrDisableMfa(false)">Disable
    <app-submit-loading-icon [is-submitting]="isSubmitting" [display-icon]="faLock"></app-submit-loading-icon></button>
</ng-container>

<app-loading-spinner [is-loading]="isLoading"></app-loading-spinner>
