<div>
  <h2>Country Dashboard</h2>

  <ul>
    <li><a [routerLink]="['..', 'detail']" routerLinkActive="active">View Detail</a></li>
    <li><a [routerLink]="['..', 'update-detail']" routerLinkActive="active">Update Detail</a></li>
    <li><a [routerLink]="['..', 'update-email']" routerLinkActive="active">Update Email</a></li>
    <li><a [routerLink]="['..', 'update-phone']" routerLinkActive="active">Update Phone</a></li>
    <li><a [routerLink]="['..', 'update-password']" routerLinkActive="active">Update Password</a></li>
    <li><a [routerLink]="['..', 'update-photo']" routerLinkActive="active">Update Photo</a></li>
  </ul>
</div>
