<h4>Comments</h4>

<app-pagination [entries-available]="comments.length > 0"
                [is-first]="isFirst"
                [is-last]="isLast"
                [current-page-number]="currentPage"
                [navigation-in-progress]="navigationInProgress"
                (toNextPage)="nextPage()"
                (toPreviousPage)="previousPage()"></app-pagination>

<ng-container *ngIf="comments && comments.length > 0">
  <div class="comment" *ngFor="let comment of comments; trackBy: trackByFn">
    <div class="comment-header">
      <div class="profile-info">
        <img class="profile-photo" [src]="comment?.member?.profilePhoto | defaultImage:'anonymous'" alt="Profile Picture">
        <div class="comment-info">
          <p>
            <span>{{ comment?.member?.firstName }} {{ comment?.member?.lastName }}</span>
            <span class="comment-reply-date"><i>{{ comment.createdOn | date }}</i></span>
          </p>
        </div>
      </div>
    </div>
    <div class="comment-body">
      <p>{{ comment.content }}</p>
      <div class="replies">
        <app-reply [replies]="comment.replies"></app-reply>
      </div>
    </div>
    <div class="reply-buttons">
      <a class="reply-btn" (click)="toggleReplyForm(comment)">Reply </a>
      <div *ngIf="showReplyForm(comment)" class="reply-form">
        <textarea [formControl]="replyCtrl(comment)" placeholder="Type your reply"></textarea>
        <app-validation-error [control]="replyCtrl(comment)" [control-label]="'Reply'" ></app-validation-error>
        <div class="button-container">
          <a class="submit-btn" (click)="submitReply(comment)">
            {{ getReplyState(comment).isSubmittingSuccessful ? 'Success'
                : getReplyState(comment).isSubmitting ? 'Submitting....' : 'Submit' }} </a>
          <a class="cancel-btn" (click)="cancelReply(comment)">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="comments && comments.length < 0">
  <p><b>There are no available comments.</b></p>
</ng-container>
