<app-search-form-delete-menu [is-submitting]="isSubmitting" [search-filter]="searchFilter" (searchSubmitted)="search($event)" (deleteConfirmed)="confirmDeleteEntries()"></app-search-form-delete-menu>
<app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

<p>The current page is {{currentPage}}</p>

<div *ngIf="entries.length > 0">
  <table id="entries" class="entries">

    <div class="clear"></div>

    <colgroup>
      <col />
      <col />
      <col />
      <col />
      <col />
      <col />
    </colgroup>

    <thead>
    <tr>
      <th class="center">S/N</th>
      <th class="left">Title</th>
      <th class="left">Channel</th>
      <th class="center">Status</th>
      <th class="center">Updated On</th>
      <th class="center"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let video of entries; let i = index; trackBy: trackByFn">
      <td>{{ addOneToIndex(i) }}</td>
      <td>{{ video.videoTitle }}</td>
      <td>{{ video.channel.title }}</td>
      <td class="center">{{ video.videoStatus }}</td>
      <td class="center">{{ video.updatedOn | date:'mediumDate' }}</td>
      <app-row-entry-option [entry-id]="video.videoId"
                            [can-check]="true"
                            [can-delete]="true"
                            [can-update]="true"

                            (detailClicked)="viewDetail(video.videoId)"
                            (updateClicked)="updateEntry(video.videoId)"
                            (deleteClicked)="deleteEntry(video.videoId)"
                            (checkedChanged)="handleChecked(video.videoId, $event)"></app-row-entry-option>
    </tr>
    </tbody>
  </table>

  <app-pagination [is-first]="isFirst" [is-last]="isLast" [current-page-number]="currentPage"
                  (toNextPage)="nextPage()" (toPreviousPage)="previousPage()"></app-pagination>

</div>
