<ng-container *ngIf="entry">

  <div class="">
    <p><b>Title: {{ entry.categoryDetails.snippet.title }}</b></p>
    <p>YouTube Category ID: <b>{{ entry.categoryDetails.id }}</b></p>
    <p>Added to the record: <b>{{ entry.isAlreadyExistInSystem ? 'Yes' : 'No' }}</b></p>
  </div>

  <div class="form-group">
    <label for="description">Description: </label>
    <textarea class="" [formControl]="descriptionCtrl" id="description">{{ description }}</textarea>
    <app-validation-error [control]="descriptionCtrl" [control-label]="'Description'"></app-validation-error>
  </div>

  <div class="form-group">
    <button type="button" class="fright" *ngIf="!isFormCompleted" (click)="updateCategory()">Add or Update
      <app-submit-loading-icon [is-submitting]="isSubmitting"></app-submit-loading-icon>
    </button>

    <app-success-button [is-form-completed]="isFormCompleted"></app-success-button>
  </div>
</ng-container>
