<td class="tr-changes-menu">
  <button class="btn-navy" (click)="viewDetail()">View <fa-icon [icon]="faEye"></fa-icon></button>
  <button class="btn-aqua" *ngIf="canUpdate" (click)="updateEntry()">Update <fa-icon [icon]="faPencil"></fa-icon></button>
  <button class="btn-red" *ngIf="canDelete" (click)="deleteEntry()">Delete <fa-icon [icon]="faTrash"></fa-icon></button>

  <label *ngIf="canCheck" class="custom-checkbox-container" [class.checked]="checked.checked">
    <input type="checkbox" (change)="handleChecked(checked.checked)" #checked>
    <span class="checkmark"></span>
  </label>
</td>
