<app-video-detail-option (detail-view)="detailsView()" (review-history-view)="reviewHistoryView()" (comment-view)="commentsView()"></app-video-detail-option>

<ng-container *ngIf="isDetailsView && entryView">
  <app-show-video-detail [fleen-video]="fleenVideo"></app-show-video-detail>
</ng-container>

<div *ngIf="isCommentsView">

  <div class="add-comment-box-2">
    <app-add-comment
      [content]="content"
      [is-submitting-comment]="isSubmittingComment"
      [is-submitting-comment-successful]="isSubmittingCommentSuccessful"
      [comment-form-status-message]="commentFormStatusMessage"
      [comment-form-error-message]="commentFormErrorMessage"
      (submitting-comment)="addComment()">
    </app-add-comment>
  </div>

  <app-comment [comments]="discussion.comments.values" [new-comment]="addedComment"></app-comment>

</div>

<div *ngIf="isReviewHistoryView">
  <app-show-review-history [review-history]="reviewHistory.reviews"></app-show-review-history>
</div>

<app-loading-spinner [is-loading]="isLoading"></app-loading-spinner>
