
<form *ngIf="isFormReady" [formGroup]="clientCredentialForm" (ngSubmit)="addUpdateClientCredential()" method="post" enctype="application/x-www-form-urlencoded" class="sign-in-form">

  <div class="form-group">
    <label for="account_name">Account Name</label>
    <input type="text" formControlName="accountName" id="account_name"/>
    <app-validation-error [control]="accountName" [control-label]="'Account Name'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="client_id">Client ID</label>
    <input type="text" formControlName="clientId" id="client_id"/>
    <app-validation-error [control]="clientId" [control-label]="'Client ID'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="project_id">Project ID</label>
    <input type="text" formControlName="projectId" id="project_id"/>
    <app-validation-error [control]="projectId" [control-label]="'Project ID'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="auth_uri">Auth URI</label>
    <input type="text" formControlName="authUri" id="auth_uri"/>
    <app-validation-error [control]="authUri" [control-label]="'Auth URI'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="token_uri">Token URI</label>
    <input type="text" formControlName="tokenUri" id="token_uri"/>
    <app-validation-error [control]="tokenUri" [control-label]="'Token URI'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="auth_provider_x509_cert_url">Auth Provider X509 Cert URL</label>
    <input type="text" formControlName="authProviderX509CertUrl" id="auth_provider_x509_cert_url"/>
    <app-validation-error [control]="authProviderX509CertUrl" [control-label]="'Auth Provider X509 Cert URL'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="client_secret">Client Secret</label>
    <input type="text" formControlName="clientSecret" id="client_secret"/>
    <app-validation-error [control]="clientSecret" [control-label]="'Client Secret'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="api_key">API Key</label>
    <input type="text" formControlName="apiKey" id="api_key"/>
    <app-validation-error [control]="apiKey" [control-label]="'API Key'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="redirect_uris">Redirect URIs</label>
    <input type="text" formControlName="redirectUris" id="redirect_uris"/>
    <app-validation-error [control]="redirectUris" [control-label]="'Redirect URIs'" ></app-validation-error>
  </div>

  <div class="form-group">
    <label for="javascript_origins">Javascript Origins</label>
    <input type="text" formControlName="javascriptOrigins" id="javascript_origins"/>
    <app-validation-error [control]="javascriptOrigins" [control-label]="'Javascript Origins'" ></app-validation-error>
  </div>

  <div class="form-group">
    <button type="submit" class="fright"
            *ngIf="!isFormCompleted"
            [disabled]="isSubmitting">Submit
      <app-submit-loading-icon [is-submitting]="isSubmitting"></app-submit-loading-icon>
    </button>

    <app-success-button [is-form-completed]="isFormCompleted"></app-success-button>
  </div>
</form>
