<p>update-email-or-phone works!</p>

<ng-container *ngIf="isFormReady">

  <form [formGroup]="updatePhoneNumberForm" method="post" enctype="application/x-www-form-urlencoded" class="update-email-phone-form">
    <app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

    <div class="form-group">
      <label for="phone_number">Phone Number</label>
      <input type="text" formControlName="phoneNumber" id="phone_number"/>
      <app-validation-error [control]="phoneNumber" [control-label]="'Phone Number'"></app-validation-error>
    </div>

    <div class="form-group">
      <label for="code">Verification Code:</label>
      <input type="text" formControlName="code" id="code"/>
      <app-validation-error [control]="code" [control-label]="'Verification code'"></app-validation-error>
    </div>

    <div class="form-group">
      <button type="button" class="fright"
              [disabled]="canRequestCode"
              (click)="sendPhoneCode()">Send Code
        <app-submit-loading-icon [is-submitting]="isSubmitting" [display-icon]="faShield"></app-submit-loading-icon>
      </button>

      <app-success-button [is-form-completed]="isFormCompleted"></app-success-button>
    </div>

    <div class="form-group">
      <button type="button" class="fright"
              *ngIf="isVerificationCodeStage"
              [disabled]="isSubmitting"
              (click)="updatePhoneNumber()">Submit
        <app-submit-loading-icon [is-submitting]="isSubmitting" [display-icon]="faPhone"></app-submit-loading-icon>
      </button>

      <app-success-button [is-form-completed]="isFormCompleted"></app-success-button>
    </div>
  </form>

</ng-container>
