.btn-blue {
  background-color : #1d73c5;
  border : 2px solid lightblue;
}

.btn-blue:hover {
  background-color : #3099fd;
}

.btn-purple {
  background-color: #572897;
  border: 2px solid #c857ed;
}

.btn-purple:hover {
 background-color: #8537ef;
}

.btn-green {
  background-color: #0e894a;
  border: 2px solid #57eda8;
}

.btn-green:hover {
  background-color: #1cc16c;
}

.btn-yellow {
  background-color: #c3b42d;
  border: 2px solid #ffec44;
}

.btn-yellow:hover {
  background-color: #ddc809;
}

.btn-red {
  background-color: #b53131;
  border: 2px solid #fb4c4c;
}

.btn-red:hover {
  background-color: #df0c0c;
}

.btn-aqua {
  background-color: #3baba6;
  border: 2px solid #3ccefd;
}

.btn-aqua:hover {
  background-color: #1ed3cb;
}

.btn-orange {
  background-color: #a3611d;
  border: 2px solid #ff9e79;
}

.btn-orange:hover {
  background-color: #df7b14;
}

.btn-pink {
  background-color: #a92d57;
  border: 2px solid #f1719d;
}

.btn-pink:hover {
  background-color: #f5266c;
}

.btn-gray {
  background-color: #706b6b;
  border: 2px solid #b89bc1;
}

.btn-gray:hover {
  background-color: #9b9797;
}

.btn-navy {
  background-color: #4d6a78;
  border: 2px solid #9abccd;
}

.btn-navy:hover {
  background-color: #7199ad;
}

.object-download-status {
  display : inline;
  visibility: hidden;
}

.back-button {
  border: 2px solid #5dcdfc; /* Adjust thickness of border as needed */
  border-radius: 50%; /* Makes the button circular */
  background-color: #0986e1; /* Transparent background */
  padding: 0; /* No padding */
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s, border-color 0.3s; /* Add smooth transition */
}

.back-button:hover {
  background-color: #0861a1; /* Change background color on hover */
}

/* If FontAwesome icon inherits font-size */
.back-button fa-icon {
  font-size: 15px; /* Adjust icon size as needed */
}

.can-update-btn-wrapper button {
  width: 80%;
  display: block;
  margin: 10px auto;
  height: 50px;
}

#status-btn-wrapper {
  margin-bottom: 10px;
}

#status-btn-wrapper button {
  width: 100px; /* Set a fixed width for the buttons */
  padding: 8px 12px; /* Adjust button padding */
  cursor: pointer; /* Show pointer cursor on hover */
  color: #fff; /* Text color for the buttons */
  border-radius: 4px; /* Add some border radius for rounded corners */
  font-weight: bold;
  margin-right: 10px;
  border: 3px solid #07a4dc; /* Remove button border */
  background-color: #0986e1; /* Background color for the buttons */
}

#status-btn-wrapper button.active {
  background-color: #1d61ad; /* Example active background color */
  color: #ffffff; /* Example active text color */
}
