@import "./btn.css";
/*
@import "./font.css";
@import "./base.css";
@import "./header-nav.css";

@import "./search.css";
@import "./entries.css";
@import "./commons.css";
@import "./checkbox.css";
@import "./item-detail.css";
@import "./form.css";
@import "./options.css";
@import "./dashboard.css";
@import url('./responsive/common-490px.css') screen and (max-width : 490px);
@import url('./responsive/form-580px.css') screen and (min-width : 660px) and (max-width : 1040px);
@import url('./responsive/form-580px.css') screen and (max-width : 580px);
@import url('./responsive/nav-600px.css') screen and (max-width : 600px);
@import url('./responsive/nav-680px.css') screen and (max-width : 680px);
@import url('./responsive/nav-800px.css') screen and (max-width : 800px);
@import url('./responsive/common-700px.css') screen and (max-width : 700px);
@import url('./responsive/common-760px.css') screen and (max-width : 760px);

!** {
  box-sizing : border-box;
  padding : 0;
  margin : 0;
  border : 0;
  text-decoration : none;
  outline : none;
  background : none;
  box-shadow : none;
  word-break : break-word;
  border-collapse : collapse;
}

body {
  font-family: 'Open Sans';
  padding: 10px;
  margin: 10px 5px;
  width: 100%;
}

label, p {
  font-size: 15px;
}

label, b {
  font-family: 'Roboto Bold';
}

label, input {
  display: block;
}

form {
  padding: 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  padding: 5px;
}

button {
  width: 210px;
  height: 37px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #0986e1;
  border-radius: 8px;
  border-bottom: 3px solid #5dcdfc;
  margin: 10px;
}

.button-180 {
  width: 180px;
}

button:hover {
  background-color: #1893de;
}

button:active {
  background-color: #1b76ae;
}

button:disabled {
  background-color: #046cb8;
  cursor: auto;
}

#clipboard-icon:hover, #clipboard-icon:active {
  cursor: pointer;
}

.block {
  display: block;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.col-25 {
  width: 25%;
}

.col-35 {
  width: 35%;
}

.col-45 {
  width: 45%;
}

.col-55 {
  width: 55%;
}

.col-65 {
  width: 65%;
}

.col-75 {
  width: 75%;
}

.col-85 {
  width: 85%;
}

.col-95 {
  width: 95%;
}

.col-100 {
  width: 100%;
}

input, textarea, select {
  padding: 10px;
  display: block;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  resize: vertical;
}

.form-group:after, button:after, div:after {
  clear: both;
  content: "";
  display: table;
}*!

.related-entries {

	margin-top : 20px;
}

.related-entries h3 {

	margin-bottom: 10px;
}

ul.ctrl-error-list {

	margin-top : 10px;
	margin-bottom : 10px;
	margin-left: 20px;
	padding-left : 10px;
}

.errors {
	clear: both;
}

.ctrl-error-list li {

	line-height : 1.5em;
	padding-left: 10px;
	font-size : 12px;
}

#item-options {

	text-align : center;
}

#item-options a {

	display : inline-block;
	margin : 2px;
	width : 45%;
}

#aremi-loading-bar {

	display : none;
	width : 100px;
	height : 100px;
	max-width: 200px;
	max-height : 200px;
	background-image : url('../images/loading-bar-2.gif');
	background-repeat: no-repeat;
	background-size: contain;
	margin : auto auto;
}


@media screen and (max-width: 600px) {
  .col-25, .col-35, .col-45, .col-55, .col-65, .col-75, .col-85, .col-95, button {
    width: 100%;
    margin-top: 0;
  }

  button {
    width: 100% !important;
    height: 45px;
    display: block;
    float: none !important;
    clear: both !important;
  }

  #authorization-uri-box {
    margin: 0;
  }
}

@media screen and (max-width : 650px) {

	.item-bio {

		height : 100%;
	}
}



@media screen and (min-width : 660px) and (max-width : 1040px)  {

.item {

	width : 42%;
	height : 230px;
	padding : 1%;
	margin : 0px 30px 10px 0px;
	float : left;
}

}

@media screen and (max-width : 680px) {

	.item {

		width : 100%;
		height : 100%;
		float : none;
		margin : 0px 0px 5px 0px;
	}

	.item h3 {

		font-size : 14px;
	}

	.item p {

		font-size : 13.5px;
	}

	#dashboard a {

		font-size : 13px;
	}

}

@media screen and (max-width : 760px) {

#item-profile {

	float : none;
	width : 100%;
	border : none;
	border-bottom : 2px solid #75ced7;
	margin : 0px 0px 20px 0px;
	background: none;
	background-color : white;
	color : black;
}

#item-body {

	margin-right : 0px;
}

.items {

	margin-top : 10px;
}

	#dashboard a {

		font-size : 13px;
	}

}
*/


/* You can add global styles to this file, and also import other style files */
/*@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing : border-box;
  padding : 0;
  margin : 0;
  border : 0;
  text-decoration : none;
  outline : none;
  background : none;
  box-shadow : none;
  word-break : break-word;
  border-collapse : collapse;
  font-family: 'Roboto'
}

b {
  font-family: "Roboto Bold"
}

.container {
  max-width: 1700px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure that the app takes at least the full height of the viewport */
}

main {
  flex: 1; /* Make the main content area take up remaining vertical space */
}

footer {
  margin-top: auto; /* Push the footer to the bottom */
  background-color: #f0f0f0; /* Background color for footer */
  padding: 20px; /* Add some padding to the footer */
}

.center {
  text-align: center; /* Center-align the content within the footer */
}


table {
  width: 1665px;
  table-layout: fixed;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right
}

table#entries tr:hover {
  background-color: #f9f9f9;
}

.clear {
  clear: both;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

label, p {
  font-size: 15px;
}

label, b {
  font-family: 'Roboto Bold';
}

label, input, select {
  display: block;
}

form {
  padding: 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  padding: 5px;
}

button {
  width: 210px;
  height: 37px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #0986e1;
  border-radius: 8px;
  border-bottom: 3px solid #5dcdfc;
  margin: 10px;
}

#clipboard-icon:hover, #clipboard-icon:active {
  cursor: pointer;
}

input, textarea, select {
  padding: 10px;
  display: block;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  resize: vertical;
  width: 100%;
}

.form-group:after, button:after, div:after {
  clear: both;
  content: "";
  display: table;
}

#footer {
  margin-top: 30px;
}

@media screen and (max-width: 600px) {

  button {
    width: 100% !important;
    height: 45px;
    display: block;
    float: none !important;
    clear: both !important;
  }

}

/*
* {
  box-sizing : border-box;
  padding : 0;
  margin : 0;
  border : 0;
  text-decoration : none;
  outline : none;
  background : none;
  box-shadow : none;
  word-break : break-word;
  border-collapse : collapse;
}

body {
  font-family: 'Open Sans';
  padding: 10px;
  margin: 10px 5px;
  width: 100%;
}

label, p {
  font-size: 15px;
}

label, b {
  font-family: 'Roboto Bold';
}

label, input {
  display: block;
}

form {
  padding: 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  padding: 5px;
}

button {
  width: 210px;
  height: 37px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #0986e1;
  border-radius: 8px;
  border-bottom: 3px solid #5dcdfc;
  margin: 10px;
}

.button-180 {
  width: 180px;
}

button:hover {
  background-color: #1893de;
}

button:active {
  background-color: #1b76ae;
}

button:disabled {
  background-color: #046cb8;
  cursor: auto;
}

#clipboard-icon:hover, #clipboard-icon:active {
  cursor: pointer;
}

.block {
  display: block;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.col-25 {
  width: 25%;
}

.col-35 {
  width: 35%;
}

.col-45 {
  width: 45%;
}

.col-55 {
  width: 55%;
}

.col-65 {
  width: 65%;
}

.col-75 {
  width: 75%;
}

.col-85 {
  width: 85%;
}

.col-95 {
  width: 95%;
}

.col-100 {
  width: 100%;
}

input, textarea, select {
  padding: 10px;
  display: block;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  resize: vertical;
}

.form-group:after, button:after, div:after {
  clear: both;
  content: "";
  display: table;
}


@media screen and (max-width: 600px) {
  .col-25, .col-35, .col-45, .col-55, .col-65, .col-75, .col-85, .col-95, button {
    width: 100%;
    margin-top: 0;
  }

  button {
    width: 100% !important;
    height: 45px;
    display: block;
    float: none !important;
    clear: both !important;
  }

  #authorization-uri-box {
    margin: 0;
  }
}
*/
