@import "./btn.css";
@import "./dashboard.css";
@import "./header.css";
@import "./footer.css";
@import "./image.css";
@import "./video-entry.css";
@import "./user-videos.css";

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing : border-box;
  padding : 0;
  margin : 0;
  border : 0;
  text-decoration : none;
  outline : none;
  background : none;
  box-shadow : none;
  word-break : break-word;
  border-collapse : collapse;
  font-family: 'Roboto'
}

b, .bold {
  font-family: "Roboto Bold"
}

h2 {
  font-family: "Open Sans Bold"
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  padding-left: 5px;
}

p {
  line-height: 2.0em;
}

hr {
  border-bottom: 2px solid #d5d3d3;
}

form p, form h5, form h6 {
  padding: 5px;
}

.container {
  max-width: 1700px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure that the app takes at least the full height of the viewport */
}

main {
  flex: 1; /* Make the main content area take up remaining vertical space */
}

.center {
  text-align: center; /* Center-align the content within the footer */
}


table {
  width: 1665px;
  table-layout: fixed;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right
}

table#entries tr:hover {
  background-color: #f9f9f9;
}

table#entries td button {
  margin: 0 5px;
}

.clear {
  clear: both;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

label, p, a {
  font-size: 15px;
}

label, b {
  font-family: 'Roboto Bold';
}

label, input, select {
  display: block;
}

form {
  padding: 0;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  padding: 5px;
}

button {
  width: 210px;
  height: 37px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #0986e1;
  border-radius: 12px;
  border-bottom: 3px solid #5dcdfc;
  margin: 10px;
}

#clipboard-icon:hover, #clipboard-icon:active {
  cursor: pointer;
}

input, textarea, select {
  padding: 10px;
  display: block;
  margin-top: 10px;
  border-radius: 12px;
  border: 2px solid #e0e0e0;
  resize: vertical;
  width: 100%;
}

input[type=radio], input[type=checkbox] {
  margin: 0 0 15px 15px;
  width: 20px;
  display: inline-block;
}

.form-group:after, button:after, div:after {
  clear: both;
  content: "";
  display: table;
}

.entry-detail p {
  line-height: 3.5em;
}

.grecaptcha-logo, .grecaptcha-badge {
  display: none !important;
}

@media screen and (max-width: 600px) {

  button {
/*    width: 100% !important;*/
    height: 37px;
    display: block;
    float: none !important;
    clear: both !important;
  }

  #status-btn-wrapper button {
    display: inline-block;
    width: 100px !important;
    border-radius: 12px;
    height: 37px;
  }

}
