<form class="search-menu" [formGroup]="searchForm" (ngSubmit)="search()">

  <select formControlName="searchType" name="search-type">
    <option *ngFor="let filter of searchFilter" [value]="filter['key']">
      {{ filter['label'] }}
    </option>
  </select>

  <input type="text" formControlName="searchInput" name="search-input">
  <button type="submit" [disabled]="isSubmitting">Search
    <fa-icon *ngIf="!isSearching" [icon]="faSearch"></fa-icon>
    <fa-icon *ngIf="isSearching" [icon]="faSpinner" [animation]="'spin'"></fa-icon>
  </button>

  <button type="submit" [disabled]="isSubmitting" (click)="confirmResetSearch()">Reset
    <fa-icon *ngIf="isResettingSearch" [icon]="faSpinner" [animation]="'spin'"></fa-icon>
  </button>

</form>

<button
  id="search-menu-del-btn"
  class="btn-red"
  *ngIf="canDelete"
  [disabled]="isSubmitting"
  (click)="confirmDeleteEntries()"> Delete
    <fa-icon *ngIf="!isDeleting" [icon]="faTrash"></fa-icon>
    <fa-icon *ngIf="isDeleting" [icon]="faSpinner" [animation]="'spin'"></fa-icon>
</button>
