<div>
  <h2>Dashboard</h2>

  <div class="menu-container">
    <ul class="menu">
      <p id="profile-photo-wrapper">
        <img [src]="profilePhoto | defaultImage:'profilePhoto'" width="150" height="150"/>
      </p>
      <li>
        <a [routerLink]="['..', 'profile']" routerLinkActive="active">Profile
          <fa-icon [icon]="faUser"></fa-icon></a>
      </li>
      <li>
        <a [routerLink]="['..', 'mfa']" routerLinkActive="active">Multi Factor Authentication
          <fa-icon [icon]="faShield"></fa-icon></a>
      </li>
      <li>
        <a [routerLink]="['..', 'user-video']" routerLinkActive="active">User Video
          <fa-icon [icon]="faVideo"></fa-icon></a>
      </li>
      <li>
        <a [routerLink]="['..', 'contributor']" routerLinkActive="active">Contributor
          <fa-icon [icon]="faBars"></fa-icon></a>
      </li>
      <ng-container *ngIf="isAdmin">
        <li>
          <a [routerLink]="['..', 'admin-youtube']" routerLinkActive="active">Admin YouTube
            <fa-icon [icon]="faVideoCamera"></fa-icon></a>
        </li>
        <li>
          <a [routerLink]="['..', 'admin-video']" routerLinkActive="active">Admin Video
            <fa-icon [icon]="faCamera"></fa-icon></a>
        </li>
        <li>
          <a [routerLink]="['..', 'google-youtube-oauth']" routerLinkActive="active">Google YouTube Oauth
            <fa-icon [icon]="faPlay"></fa-icon></a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
