<form [formGroup]="submitReviewForm" (ngSubmit)="onSubmit()" method="post" enctype="application/x-www-form-urlencoded" class="submit-review-form">
  <app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

  <div class="form-group">
    <label for="video_review_status">Video Review Status</label>
    <select formControlName="videoReviewStatus" id="video_review_status">
      <option value=""></option>
      <option value="APPROVED">Approve</option>
      <option value="DECLINED">Decline</option>
    </select>
    <app-validation-error [control]="videoReviewStatus" [control-label]="'Review Status'"></app-validation-error>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea formControlName="comment" id="comment"></textarea>
    <app-validation-error [control]="comment" [control-label]="'Comment'" ></app-validation-error>
  </div>

  <button type="submit" [disabled]="isSubmitting">Submit</button>
</form>
