<p>update-email-or-phone works!</p>


<ng-container *ngIf="isFormReady">

  <form [formGroup]="updateEmailAddressForm" method="post" enctype="application/x-www-form-urlencoded" class="update-email-phone-form">
    <app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

    <div class="form-group">
      <label for="email_address">Email Address</label>
      <input type="text" formControlName="emailAddress" id="email_address"/>
      <app-validation-error [control]="emailAddress" [control-label]="'Email Address'"></app-validation-error>
    </div>

    <ng-container *ngIf="isVerificationCodeStage">
      <label for="code">Verification Code:</label>
      <input type="text" formControlName="code" id="code"/>
      <app-validation-error [control]="code" [control-label]="'Verification code'"></app-validation-error>
    </ng-container>

    <button type="button" [disabled]="canRequestCode" (click)="sendEmailCode()" >Send Code</button>
    <button type="button" [disabled]="isSubmitting" (click)="updateEmailAddress()">Submit</button>
  </form>

</ng-container>
