<p>update-email-or-phone works!</p>


<ng-container *ngIf="isFormReady">

  <form [formGroup]="updateEmailAddressForm" method="post" enctype="application/x-www-form-urlencoded" class="update-email-phone-form">
    <app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

    <div class="form-group">
      <label for="email_address">Email Address</label>
      <input type="text" formControlName="emailAddress" id="email_address"/>
      <app-validation-error [control]="emailAddress" [control-label]="'Email Address'"></app-validation-error>
    </div>

    <div class="form-group">
      <label for="code">Verification Code:</label>
      <input type="text" formControlName="code" id="code"/>
      <app-validation-error [control]="code" [control-label]="'Verification code'"></app-validation-error>
    </div>

    <button type="button" [disabled]="canRequestCode" (click)="sendEmailCode($event)" >Send Code</button>

    <div class="form-group">
      <button type="button" class="fright"
              *ngIf="!isFormCompleted && isVerificationCodeStage"
              [disabled]="isSubmitting"
              (click)="updateEmailAddress()">Submit
        <app-submit-loading-icon [is-submitting]="isSubmitting" [display-icon]="faAt"></app-submit-loading-icon>
      </button>

      <app-success-button [is-form-completed]="isFormCompleted"></app-success-button>
    </div>
  </form>

</ng-container>
