<ng-container *ngIf="entry">

  <div class="fleft col-100">
    <p><b>Title: {{entry.channelDetails.snippet.title}}</b></p>
    <p>Description: {{entry.channelDetails.snippet.title}}</p>
    <p>YouTube Channel ID: <b>{{entry.channelDetails.id}}</b></p>
    <p>Added to the record: <b>{{entry.isAlreadyExistInSystem ? 'Yes' : 'No'}}</b></p>
  </div>

  <div class="fright col-45">
    <button type="button" (click)="0">View Videos <fa-icon *ngIf="!isSubmitting" [icon]="faFilm"></fa-icon></button>
    <button type="button" *ngIf="!isFormCompleted" [disabled]="entry.isAlreadyExistInSystem" (click)="addChannel()">Add Category
      <fa-icon *ngIf="!isSubmitting" [icon]="faVideo"></fa-icon>
      <fa-icon *ngIf="isSubmitting" [icon]="faSpinner" [animation]="'spin'"></fa-icon>
    </button>

    <app-success-button [is-form-completed]="isFormCompleted"></app-success-button>
  </div>
</ng-container>
