<nav class="navbar" id="myTopnav">
  <ul>

    <li> <a routerLink="/"> <fa-icon [icon]="faHome"></fa-icon> Home  </a> </li>
    <li> <a routerLink="/video"> <fa-icon [icon]="faVideo"></fa-icon> Videos </a> </li>
    <li> <a routerLink="/profile"> <fa-icon [icon]="faUser"></fa-icon> Profile </a> </li>

    <li> <a routerLink="/"> <fa-icon [icon]="faDashboard"></fa-icon> Dashboard </a> </li>
    <li> <a routerLink="/sign-out"> <fa-icon [icon]="faSignOut"></fa-icon> Sign out </a> </li>

    <li> <a routerLink="/sign-in"> <fa-icon [icon]="faSignIn"></fa-icon> Sign in </a> </li>
    <li> <a routerLink="/sign-up"> <fa-icon [icon]="faPlus"></fa-icon> Sign up </a> </li>

    <li> <a href="javascript:void(0);" id="menu-icon"> <fa-icon [icon]="faBars"></fa-icon> </a> </li>

  </ul>
</nav>
