.email-address-input-container,
.forgot-password-code-verification-input-container {
  /* Set initial opacity for the elements */
  opacity: 1;
  /* Add any other styling you need */
}

/* Define the animation transition */
[@fadeInOut] {
  transition: opacity 300ms ease-in-out;
}

/* Define animation states */
[@fadeInOut].visible {
  opacity: 1;
}

[@fadeInOut].hidden {
  opacity: 0;
}

:host {
  width: 80%;
  margin: 0px auto;
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  height: 100%; /* Set the height to 100% */
  background-color: #f0f0f0;
}
