<div *ngIf="isFormReady" class="">

  <form>
    <label [for]="fileId">{{ controlLabel }}</label>
    <input type="file"
           style="display: none;"
           [formControl]="control"
           [id]="fileId"
           (input)="upload(elem, control, fileConstraints)" #elem/>

    <label [for]="fileId" style="cursor: pointer;">
      <button type="button"
              class="file-chooser"
              (click)="openFileDialog()">
        {{ isFilesAvailable(elem) ? isFilesAvailable(elem) : 'Choose File' }}</button>
    </label>

    <div class="upload-message" *ngIf="uploadMessage">
      <p>{{ uploadMessage }}</p>
    </div>

    <app-validation-error
      [control]="control"
      [control-label]="controlLabel"
      [control-options]="fileConstraints">
    </app-validation-error>

    <div>
      <ng-container *ngIf="!uploadStarted">
        <button type="button"
                *ngIf="fileNameOrUrl"
                (click)="deleteFile(elem)">Delete</button>
      </ng-container>
      <button type="button"
              *ngIf="cancelRequest$"
              (click)="cancelUpload(elem)">Cancel</button>
    </div>
  </form>

  <button type="button"
          *ngIf="canDownloadOrView
                  && fileNameOrUrl
                  && readyForDownload"
          (click)="downloadOrView(fileNameOrUrl, fileKey)">Download
  </button>
</div>


