<div>
  <h2>Google YouTube Oauth Dashboard</h2>

  <div class="menu-container">
    <ul class="menu">
      <li>
        <a [routerLink]="['..', 'client-credential', 'entries']" routerLinkActive="active">Client Credential Entries
          <fa-icon [icon]="faList"></fa-icon></a>
      </li>
      <li>
        <a [routerLink]="['..', 'client-credential', 'add']" routerLinkActive="active">Add Client Credential
          <fa-icon [icon]="faPlus"></fa-icon></a>
      </li>
    </ul>
  </div>
</div>
