
<app-form-message [status-message]="statusMessage" [error-message]="errorMessage"></app-form-message>

<app-pagination [entries-available]="entries.length > 0"
                [is-first]="isFirst"
                [is-last]="isLast"
                [current-page-number]="currentPage"
                [navigation-in-progress]="navigationInProgress"
                (toNextPage)="nextPage()"
                (toPreviousPage)="previousPage()"></app-pagination>

<div *ngIf="entries.length > 0">
  <table id="entries" class="entries">

    <div class="clear"></div>

    <colgroup>
      <col style="width: 5%">
      <col style="width: 13%">
      <col style="width: 10%">
      <col style="width: 13%">
      <col style="width: 15%">
      <col style="width: 15%">
      <col style="width: 29%">
    </colgroup>

    <thead>
    <tr>
      <th class="center">S/N</th>
      <th class="left">Account Name</th>
      <th class="left">Project ID</th>
      <th class="center">Created On</th>
      <th class="center">Updated On</th>
      <th class="center"></th>
      <th class="center"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let credential of entries; let i = index; trackBy: trackByFn">
      <td class="center">{{ addOneToIndex(i) }}</td>
      <td>{{ credential.accountName}}</td>
      <td>{{ credential.projectId }}</td>
      <td class="center">{{ credential.createdOn | date:'mediumDate' }}</td>
      <td class="center">{{ credential.updatedOn | date:'mediumDate' }}</td>
      <app-row-entry-option [entry-id]="credential.credentialId"
                            [can-check]="false"
                            [can-delete]="false"
                            [can-update]="true"
                            [is-deleting]="credential.deleteStatus"
                            [delete-id]="credential.credentialId"

                            (detailClicked)="viewDetail(credential.credentialId)"
                            (updateClicked)="updateEntry(credential.credentialId)"></app-row-entry-option>
      <td class="other-options">
        <button class="btn-purple view-channels" (click)="viewChannels(credential.credentialId)">View Channels
          <fa-icon [icon]="faEye"></fa-icon></button>
        <button class="btn-green add-channel-refresh-token" (click)="addChannelOrRefreshToken(credential.credentialId)">Channel or Refresh Token
          <fa-icon [icon]="faPlus"></fa-icon></button>
      </td>
    </tr>
    </tbody>

  </table>

  <app-pagination [entries-available]="entries.length > 0"
                  [is-first]="isFirst"
                  [is-last]="isLast"
                  [current-page-number]="currentPage"
                  [navigation-in-progress]="navigationInProgress"
                  (toNextPage)="nextPage()"
                  (toPreviousPage)="previousPage()"></app-pagination>

</div>

<app-no-entries *ngIf="!isLoading" [entries]="entries"></app-no-entries>

<app-loading-spinner [is-loading]="isLoading"></app-loading-spinner>
