/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing : border-box;
  padding : 0;
  margin : 0;
  border : 0;
  text-decoration : none;
  outline : none;
  background : none;
  box-shadow : none;
  word-break : break-word;
  border-collapse : collapse;
}

body {
  font-family: 'Open Sans';
  padding: 10px;
  margin: 10px 5px;
  width: 100%;
}

label, p {
  font-size: 15px;
}

label {
  font-family: 'Roboto Bold';
}

label, input {
  display: block;
}

form {
  padding: 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  padding: 5px;
}

button {
  width: 210px;
  height: 37px;
  display: block;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #0986e1;
  border-radius: 8px;
  border-bottom: 3px solid #5dcdfc;
  margin: 10px;
}

button:hover {
  background-color: #1893de;
}

button:active {
  background-color: #1b76ae;
}

#clipboard-icon:hover, #clipboard-icon:active {
  cursor: pointer;
}

.block {
  display: block;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.col-55 {
  width: 55%;
}

.col-65 {
  width: 65%;
}

.col-75 {
  width: 75%;
}

.col-85 {
  width: 85%;
}

.col-95 {
  width: 95%;
}

.col-100 {
  width: 100%;
}

input {
  padding: 10px;
  display: block;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
}

.form-group:after {
  clear: both;
  content: "";
  display: table;
}


@media screen and (max-width: 600px) {
  .col-25, .col-55, .col-65, .col-75, .col-85, .col-95, button {
    width: 100%;
    margin-top: 0;
  }

  button {
    height: 50px;
    margin: 0;
  }

  #authorization-uri-box {
    margin: 0;
  }
}
