/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Open Sans';
  padding: 10px;
  margin: 0px auto;
  width: 98%;
}

label, p {
  font-size: 15px;
}

label {
  font-family: 'Roboto Bold';
}

.form-group {
  margin-bottom: 20px;
}

button {
  text-align: center;
  border-radius: 8px;
  outline: 0;
  background-color: #0986e1;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border: 0;
  border-bottom: 3px solid #5dcdfc;
}

button:hover {
  background-color: #1893de;
}

button:active {
  background-color: #1b76ae;
}

#clipboard-icon:hover, #clipboard-icon:active {
  cursor: pointer;
}
