.channel-row {
  padding: 10px 10px 0 10px;
  line-height: 2.0em;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.channel-row button {
  margin: 5px;
}

.channel-row:after {
  clear: both;
  display: table;
  content: '';
}
