<div class="entry-detail" *ngIf="credential">
  <h2 class ="bold"> {{pageTitle}} </h2>

  <p>
    <b>Account Name:</b>
    {{ credential.accountName | isValid }}
  </p><hr/>

  <p>
    <b>Client ID:</b>
    {{ credential.clientId | isValid }}
  </p><hr/>

  <p>
    <b>Project ID:</b>
    {{ credential.projectId | isValid }}
  </p><hr/>

  <p>
    <b>Auth URI:</b>
    {{ credential.authUri | isValid }}
  </p><hr/>

  <p>
    <b>Token URI:</b>
    {{ credential.tokenUri | isValid }}
  </p><hr/>

  <p>
    <b>Auth Provider X509 Cert URL:</b>
    {{ credential.authProviderX509CertUrl | isValid }}
  </p><hr/>

  <p>
    <b>Client Secret:</b>
    {{ credential.clientSecret | isValid }}
  </p><hr/>

  <p>
    <b>API Key:</b>
    {{ credential.apiKey | isValid }}
  </p><hr/>

  <p>
    <b>Redirect URIs:</b>
    {{ credential.redirectUris | isValid }}
  </p><hr/>

  <p>
    <b>JavaScript Origins:</b>
    {{ credential.javascriptOrigins | isValid }}
  </p><hr/>

</div>

<app-loading-spinner [is-loading]="isLoading"></app-loading-spinner>
